

:root {
    --color-white-400: #fcfcfc;
    --color-white-600: #fafafa;
    --color-white-700: #ffffff;

    --color-purple: #66c;

    --color-card-background: #fff;
    --color-app-background: #111;
}