

.arrow {
    position: relative;
}
.arrow-down {
    font-size:2rem;
    color: var(--color-yellow-600);

    top: -4rem;
    left: 8.1rem;
    position: absolute;

    transition: transform .3s ease-in-out;
}
.arrow-down[data-currentPlayer = "2"] {
    transform: translateX(8.1rem);
}
