
/*---- Card Game style ----*/

.card-game {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: .4rem;

    color: var(--color-white-400);
    background: var(--color-card-background);

    cursor: pointer;
    width: 130px;
    height: 130px;
}
.card-game #content {
    width: 80px;
    height: 80px;
}